
a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}
a :hover{
    opacity: 0.7;
}

/* --------------- HEADER --------------- */

/* -- Menu -- */


.logo{
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #8f1fcf;
    transition: 1.9s ease-out;
    border-bottom: 1px solid #ffffff00;
}
.logo:hover {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    transition:  1.9s ease-in ;
    border-bottom: 1px solid #8f1fcf;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #242424;
    height: 12vh;
    border-bottom: 2px solid #8f1fcf;
}

.ul-container{
    display: flex;
    list-style: none;

}

.ul-container li {
    margin-left: 30px; 
    letter-spacing: 1px;
}

.ul-container li a:hover {
    color: rgb(97, 29, 185);
}

/* ----- Menu Mobile ----- */

.menu-mobile{
    display: none;
    cursor: pointer;

}
.menu-mobile div{
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
    transition: 0.3s;
}
/* Essa classe .active vai ser criada pelo js */
.ul-container.active{
    transform: translateX(0);
}

/* -------------------------------------- */

/* ---- BEM VINDO ---- */



/* TITULO DO DIV-CONTAINER */

.titulo-h2{
    font-size: 50px;
}

/* ---------------------------- */

/* ---- BARRA DE SEPARAÇÃO ---- */

.separacao{
    height: 60vh;
    background: #8f1fcf;
    width: 8px;
    margin-left: 1vw;
    margin-right: 1vw;
}

/* ---------------------------- */


/* ---- GIFF DO DIV-CONTAINER ---- */

.giff-animacao{
    height: 60vh;
    box-shadow: 1px 1px 0px 0px #8f1fcf;
    border-radius: 200px;
}

/* ---------------------------- */ 

/* TODAS AS DIVS DO CONTAINER */

.div-container1 span{
    color: #8f1fcf;
    font-weight: 700;
    font-size: 25px;
}
 .div-container{
    height: 80vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}
.div-container1 {
    
}

.div-container2 {
    
}

.div-conteudo{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}

#quem-sou{
    transition: 0.3s ease-in;
}

/* ---- FIM DO BEM VINDO ---- */


/* ---- FLECHA DE INDICAÇÃO ----*/

.div-arrow-down{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.botao-arrow-down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f700;
    color: #8f1fcf;
    border: none;
    transition: 1.5s ease-out;
    font-size: 15px;
    animation: OscilarCor 4s infinite;
}

@keyframes OscilarCor {
    0% {
        color: #8f1fcf;
    }
    50% {
        color: #ffffff;
    }
    100% {
        color: #8f1fcf;
    }
}
.botao-arrow-down:hover {
   color: #a0a0a0;
   transition: 1.5s ease-in;
}

/* ---- FLECHA DE INDICAÇÃO ----*/


/* ---- QUEM SOU ----  */

.div-todo-conteudo{
   /*  animation: fundoDivTodoConteudo 4s infinite; */
    background-color: #474747;
    
}
/* @keyframes fundoDivTodoConteudo{
    0%{
        background-color: #272727;
    }
    50%{
        background-color: #624075;
    }
    100%{
        background-color: #272727;
    }
} */

.sections-conteudo{
    background-color: #bd3d3d;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 5% 0% 0% 10%;
    height: 80vh;
    width: 80%;
}

.div-sobre-conteudo{
    background-color: #161616;
    border-radius: 4px;
    margin: 0% 0% 0% 0% ;
}
.div-sobre-mim{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10% 10% 10%;
}

.separacao1{
    height: 30vh;
    width: 2px;
    background-color: #8f1fcf;
    margin: 0% 2% 2% 0% ;
}
.div-sobre-mim-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:  5% 5% 5% 5%;
}
.titulo-sobre-mim h2 {
    font-size: 30px;
    color: #ffffff;
}
.titulo-sobre-mim h2 span{
    font-size: 30px;
    color: #8f1fcf;
}

.conteudo-sobre-mim h3{
    font-size: 40px;
}
.conteudo-sobre-mim{
    width:60%;
}




/* -------------------------------------- */

/* -------------------------------------- */

/* -------------------------------------- */

/* -------------------------------------- */


@media (max-width: 900px){

    body{
        overflow-x: hidden;  /* Esconde do body qualquer coisa que transbordar/ultrapassar */
    }

    nav .logo{
        font-size: 20px;
    }
    .menu-mobile div{
        width: 24px;
        height: 2px;
        margin: 6px;
    }
    .ul-container {
        position: absolute;
        top: 12vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #272727;
         flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);  /*expande o width até o limite de 50vw, mas precisa do overflow-x: hiddern; */
        transition: transform 0.4s ease-in; /* ease-in = chegada suave */
    }
   .ul-container li{
        margin-left: 0%;
        opacity: 0;
    }
    .menu-mobile{
        display: block;
    } 

}


@keyframes navOpacidade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


.menu-mobile.active .linha1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-mobile.active .linha2{
    opacity: 0;
}

.menu-mobile.active .linha3{
    transform: rotate(45deg) translate(-5px, -7px);
}


@media (max-width: 500px){

    nav .logo{
        font-size: 20px;
    }


}