/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');


/* -------------------------------------- */

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
/* body{
    height: 1000px;
    width: 100%;
    background: linear-gradient(#763ef8, #2b306d );
   
} */

a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}
a :hover{
    opacity: 0.7;
}

/* --------------- HEADER --------------- */

/* -- Menu -- */


.logo{
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #8f1fcf;
    transition: 1.9s ease-out;
    border-bottom: 1px solid #ffffff00;
}
.logo:hover {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    transition:  1.9s ease-in ;
    border-bottom: 1px solid #8f1fcf;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #242424;
    height: 12vh;
}

.ul-container{
    display: flex;
    list-style: none;

}

.ul-container li {
    margin-left: 30px; 
    letter-spacing: 1px;
}

.ul-container li a:hover {
    color: rgb(97, 29, 185);
}

/* ----- Menu Mobile ----- */
.menu-mobile{
    display: none;
    cursor: pointer;

}
.menu-mobile div{
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 6px;
    transition: 0.3s;
}
/* Essa classe .active vai ser criada pelo js */
.ul-container.active{
    transform: translateX(0);
}

/* -------------------------------------- */

/* ---- BEM VINDO ---- */



/* TITULO DO DIV-CONTAINER */

.titulo-h2{
    font-size: 50px;
}

/* ---------------------------- */

/* ---- BARRA DE SEPARAÇÃO ---- */

.separacao{
    height: 60vh;
    background: #8f1fcf;
    width: 8px;
    margin-left: 1vw;
    margin-right: 1vw;
}

/* ---------------------------- */


/* ---- GIFF DO DIV-CONTAINER ---- */

.giff-animacao{
    height: 60vh;
    box-shadow: 1px 1px 0px 0px #8f1fcf;
    border-radius: 200px;
}

/* ---------------------------- */ 

/* TODAS AS DIVS DO CONTAINER */

.div-container1 span{
    color: #8f1fcf;
    font-weight: 700;
    font-size: 25px;
}
 .div-container{
    height: 80vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}
.div-container1 {
    
}

.div-container2 {
    
}

.div-conteudo{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
}

#quem-sou{
    transition: 0.3s ease-in;
}

/* ---- FIM DO BEM VINDO ---- */


.div-arrow-down{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-arrow-down{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f7f7f700;
    color: #8f1fcf;
    border: none;
    
}
.botao-arrow-down span{
    transition: 0.9s ease-out;
    border: 0px dotted #ffffff00;
}
.botao-arrow-down span:hover {
   color: #000000;
   transition: 0.9s ease-in;
   border-bottom: 2px dotted #8f1fcf;
   border-right: 2px dotted #8f1fcf;
   border-left: 2px dotted #8f1fcf;
   
}
/* -------------------------------------- */



/* -------------------------------------- */

@media (max-width: 900px){

    nav .logo{
        font-size: 20px;
    }
    .menu-mobile div{
        width: 24px;
        height: 2px;
        margin: 6px;
    }
    body{
        overflow-x: hidden;  /* Esconde do body qualquer coisa que transbordar/ultrapassar */
     }
    .ul-container {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #272727;
         flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);  /*expande o width até o limite de 50vw, mas precisa do overflow-x: hiddern; */
        transition: transform 0.4s ease-in; /* ease-in = chegada suave */
    }
   .ul-container li{
        margin-left: 0%;
        opacity: 0;
    }
    .menu-mobile{
        display: block;
    } 

}


@keyframes navOpacidade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


.menu-mobile.active .linha1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-mobile.active .linha2{
    transform: rotate(-90deg) translate(-4px, -10px);
}

.menu-mobile.active .linha3{
    transform: rotate(45deg) translate(-5px, -7px);
}


@media (max-width: 500px){

    nav .logo{
        font-size: 20px;
    }


}